
.nav{
  display: flex;
  justify-content: space-around;
  height: 8vh;
  background-color: rgb(39, 17, 92);
}

.listItems{
  display: flex;
  justify-content: space-around;
  width: 10%;
  color: turquoise;
  text-align: center;
  align-items: center;
  
}
.eachitem{
  list-style-type: none;
  text-decoration: none;
  color: aliceblue;
  font-size: 20px;
}
.dataPost{

  
  color: rgb(11, 12, 12);
  padding: 5px;
  margin: 20px;
  border: 1px solid black;
}
.tt{
  margin-left: 10px;
}

.form {
  height: 300px;
  width: 30%;
  margin: 50px;
  padding: 10px;
}
.btn {
  margin-top: 20px;
}
.detailss{
  border: 1px solid black;
  padding: 10px;

  width: 90%;
  margin: 10px;
}
